body{
    background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
    text-align: center;
    }
    
    img{
    border-radius: 50%;
    width: 100px;
    }
    h1{
    text-shadow: 2px 2px #ff8d00;
    font-size: 20px;
    }
    p
    {
    font-size: 18px;
    color: #000000;
    }
    h3
    {
        text-shadow: 2px 2px darkgreen;
        font-size: 20px;
        }
        #myName
        {
            font-family: cursive;
        }
        hr
        {
            width: auto;
            color: black;
        }